# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*,
'hello',
-87.8,
-,
/,
+,
6,

Ans: These are the values and expressions.
     values : 'hello', -87.8,6
     expressions : *, /, -, +

# 2. What is the difference between string and variable?

Ans: Variable - It is used to store various data-types likes strings,integer,float,etc..
     String - It is a group of character which is enclosed within double quotes or single quotes, it is also a      information we can store in variable

# 3. Describe three different data types.

Ans: 1)Float - This is used for decimal point values
     2)Integer - It can be used to represent whole number
     3)Strings - It is a group of character which is enclosed within double quotes or single quotes

In [3]:
#)Examples:
float_dt = 299.05
Integer_dt = -2883
string_dt = 'My name is suresh'
print('Data type is',type(float_dt))
print('Data type is',type(Integer_dt))
print('Data type is',type(string_dt))

Data type is <class 'float'>
Data type is <class 'int'>
Data type is <class 'str'>

# 4. What is an expression made up of? What do all expressions do?

Ans: An Expression is a sequence or combination of values, variables, operators and function calls that always produces or returns a result value.

In [5]:
#Example:
a = 48+29+92  #)Expression, 
print(a)  #)Expression statement, and it has returned a value

169

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans: Expression - An Expression is a sequence or combination of values, variables, operators and function calls that always produces or returns a result value. eg: a = 5,b=5, a+b =10
     Statement - Anything a python intepreter that can execute, then it is called as statement.
     Eg:d = a+b,print('d')

# 6. After running the following code, what does the variable bacon contain?
   bacon = 22
   bacon + 1

In [8]:
bacon = 22
bacon + 1     
print('Bacon contain',bacon)   
#)Answer :22, Because it doesn't reassign the value in bacon

Bacon contain 22

# 7. What should the values of the following two terms be? 
'spam' + 'spamspam'


'spam' * 3

In [15]:
z = 'spam' + 'spamspam'
print(z)

spamspamspam

In [16]:
x = 'spam'* 3
print(x)

spamspamspam

# 8. Why is eggs a valid variable name while 100 is invalid?

Ans: Variable is used to hold the various kinds of data-types, It always starts with letter, it doesn't support the variables starting with number
Eggs - it is a variable
100 - it is a number

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [ ]:
Ans: int(),float(),str() will evaluate as per the values passed to them.

# 10. Why does this expression cause an error? How can you fix it?
'I have eaten'+ 99 + 'burritos'.

Ans: It causes error because 99 is not a string, so we need to convert it into string

In [36]:
a = 'I have eaten'+ ' 99 ' + 'burritos.'
a

'I have eaten 99 burritos.'